<ul>
  <% @categories.each do |category| %>
    <%= link_to "/categories/#{category.id}/management" do %>
      <li>
        <div class="d-flex">
          <%= image_tag("#{category.icon}", alt: "#{category.name} icon") %>
          <p><%= category.name %></p>
          <p>$100</p>
        </div>
      </li>
      <% end %>
  <% end %>
</ul>
