<nav>
  <div>
    <% if request.fullpath == '/categories/new' || request.fullpath == "/categories/#{params[:cat_id]}/management" %>
      <%= link_to '<', '/categories' %>
    <% elsif request.fullpath == "/categories/#{params[:cat_id]}/management/new" %>
      <%= link_to '<', "categories/#{params[:cat_id]}/management" %>
    <% end %>
  </div>
  <div>
    <% case request.fullpath %>
    <% when '/categories' %>
      <p>Categories</p>
    <% when '/categories/new' %>
      <p>New Category</p>
    <% when "/categories/#{params[:cat_id]}/management" %>
      <p>Wasted Money</p>
    <% else %>
      <p>New Purchase</p>
    <% end %>
  </div>
</nav>