<ul>
  <% @categories.each do |category| %>
    <li>
      <div class="d-flex">
        <%= image_tag("#{category.icon}", alt: "#{category.name} icon") %>
        <p><%= category.name %></p>
        <p>$100</p>
      </div>
    </li>
  <% end %>
</ul>
