<div class="d-flex welcome-wraper flex-column">
  <h1 class="welcome-message">Money Manage App</h1>
  <div class="d-flex flex-column bottom-page">
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn btn-primary'  %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn btn-secondary'  %>
  </div>
</div>
