<%= render 'shared/navbar' %>
<% if @empty_categories %>
  <h2>Add a new category</h2>
<% else %>
  <%= render 'shared/category_cards', categories: @categories %>
<% end %>
<%= link_to 'Add Category', '/categories/new' %>